.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

img {
  width: 300px;
  height: 300px;
}

.container {
  max-height: 85vh;
	overflow-y: scroll;
	padding-top: 20px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-container > li {
  padding-right: 10px;
  padding-bottom: 10px;
}


